.gradle
!gradle/wrapper/gradle-wrapper.jar

/build/
/out
/finance-core/out/
/finance-core/build/
/finance-tracker/
/forecast/out/
/forecast/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
